---
//import type { GetStaticPaths } from "astro";

//ssr
// import { getCollection, getEntry, type CollectionEntry} from "astro:content";

import { getCollection, type CollectionEntry} from "astro:content";
import Layout from "../../layouts/Layout.astro";
import H1 from "../../components/H1.astro";
import Main from "../../components/Main.astro";
import { Image } from "astro:assets";

//ssr
    //option 1 making existing thing as static in ssr

        // export const prerender=true;

    //option 2 ssr (1)

        // const {slug}=Astro.params;
        // const post=await getEntry('posts',slug as string);

        // if(!post)
        // {
        //     Astro.redirect('/404');
        // }

        // const {Content}=await  post.render();

    //option 2 ssr(2)

        // const { slug } = Astro.params as { slug: string };

        // const post = await getEntry('posts', slug);

        // if (!post) {
        //     return new Response(null, {
        //         status: 302,
        //         headers: { Location: '/404' },
        //     });
        // }

        // const { Content } = await post.render();

export const getStaticPaths = async () => {
        const posts=await getCollection('posts');
        const paths=posts.map(post => {
            return {
                params:{
                slug:post.slug
            },
            props:{
                post
            }
                
            }
          
        })
        return paths;
}




type Props={
    post:CollectionEntry<'posts'>;
}

const {post}=Astro.props;

const {Content}=await  post.render();

---

<Layout title={post.data.title}>
    <Main>
        <H1 text={post.data.title}></H1>
        <Image src={post.data.image} alt={post.data.title} width={1024} height={1024/1.5} class="rounded-2xl shadow-xl mb-4 aspect-thumbnail object-cover"/>
        
        <div class="prose prose-2xl overflow-visible relative mb-20">
            <Content/>
        </div>
        
    </Main>
</Layout>